h1.h1-xanh {
		color : green ;
		background-color:black;
	}

	h2.h2-xanh {
		color : green ;
		background-color:black;
	}

.xanh-duong {
	color: blue ;
}

#vd{
	color: brown  ;
}

.khoi-trang-chu{
	background-color: #FFFFFF;
	width: 960px ;
	height: 400px ;
	margin-bottom: 20px ;
	padding: 30px ;
	border: 1px solid black ;
}
.font{
	font-size: 30px ;
	/*font-weight: bold ;*/
	font-family: Arial ;
	/*text-decoration: underline;*/

	line-height: 30px ;
}

.main-1{
	width: 100% ;
	background-color: #F7F9FA ;

} 
.main-1 a.hinh {
	width: 100% ;
}
.link-hinh{
	display: block ;
	margin-bottom: 30px ;
}
.link-new{
	text-decoration: none ;
	color:  black ;
	font-size: 20px;
	font-family: Arial;
	display: block;
}
a.link-new:hover{
	color: orange ;
}

@font-face {
	src:url (font/HelveticaWorld-Regular.ttf) ;
	font-family: Helve ;
}
.font-1{
	font-family: Helve ;
}
.font-2{
	font-family: 'Roboto', sans-serif;
}