
*{
	margin: 0;
	padding: 0;
	border: none;
	background-color: #E7E7E7;
}

.main-container{
	width: 380px;
	height: 210px;
	margin: 20px;
	padding: 20px;
	background-color: #FFFFFF;
	Font-style: italic ;
	 Text-decoration: underline;
}

.follow-title{
	font-family: 'Roboto', sans-serif;
	background-color: #FFFFFF;
	border-bottom: 2px solid black;
	padding-top: 5px;
	padding-bottom: 5px;
}

.follow-title h3{
	background-color: black;
	display: inline-block;
	color: #FADA1A;
	padding: 5px 10px
}

.follow-icon{
	font-family: 'Roboto', sans-serif;
	background-color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 5px;
	overflow: hidden;
}

.icon{
	width: 120px;
	height: 120px;
	background-color: #3B5998;
	float: left;
	margin-right: 10px;
	text-align: center;
}

.icon i{
	font-size: 50px;
	color: white;
	background-color: transparent;
	display: block;
	margin-top: 10px; 
}
.icon p{
	background-color: transparent;
	margin-top: 10px;
	font-weight: bold;
	color: white;
}

.twitter{
	background-color: #1DCAFF;
}

.google-plus{
	background-color: #DD4B39;
	margin-right: 0px;
}

.icon:hover{
	background-color: black ;
	/*width: 200px;
	height:200px;*/
	margin-top: 10px ;
	transition: 0.5s;
}

.display{
	margin-top: -20px;
	display: inline-block;
}